@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    color: #444;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo {
    margin-left: 30px;
}
.menu {
    margin-right: 30px;
    line-height: 100px;
    display: flex;
}
.menu ul {
    display: flex;
}
.menu ul a {
    text-decoration: none;
    color: #444;
}
.menu ul a li:hover {
    border-bottom: 2px solid #1abc9c;
    color: #1abc9c;
}
.menu ul a li {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    list-style-type: none;
    margin-left: 30px;
}
.icon {
    margin-left: 50px;
    display: flex;
    
}
.icon a {
    line-height: 100px;
    padding-left: 10px;
    padding-top: 5px;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.banner {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.page {
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.navigation {
    font-size: 13px;
    font-weight: normal;
}
.navigation a, p {
    display: inline-block;
    text-decoration: none;
    padding: 0px 5px;
}
.navigation a:hover {
    color: #1abc9c;
}

.header-post {
    margin-bottom: 30px;
}
.header-post h1 {
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.abbout-post span, a {
    color: #999;
    text-decoration: none;
}
.abbout-post span {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.abbout-post a {
    font-size: 14px;
    margin-right: 18px;
}
.abbout-post a:hover {
    color: #333;
}


.box {
    display: flex;
}
.post {
    flex: 2;
}
.conteudo img {
    background-size: contain;
    width: 100%;
    margin-bottom: 30px;
}
.conteudo p {
    font-size: 15px;
    line-height: 28px;
    color: #444;
    margin-bottom: 20px;
}
aside {
    flex: 1;
    max-width: 330px;
    margin-left: 40px;
}
aside div {
    height: 300px;
    background-color: #ccc;
    margin-bottom: 20px;
}